# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist-python/

# PyInstaller
build/
dist/
*.spec

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo

# App specific
test_files/
.file_renamer_recent.json
